.cart-header {
    height: 400px;
    background: url(images/cart_bg.jpeg), rgb(196, 196, 196);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cart {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    margin-top: 64px;

    &__content {
        grid-column: span 8;
    }

    &__name-box {
        display: flex;
        justify-content: space-between;
        padding-bottom: 14px;
        padding-right: 27px;
    }

    &__text {
        color: $main-color;
        font-size: 16px;
        font-weight: 400;
        line-height: 125%;
        text-align: left;
    }

    &__item {
        border-top: 0.5px solid rgb(202, 205, 216);
        padding-top: 25px;
        padding-bottom: 32px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__left {
        display: flex;
        gap: 32px;
    }

    &__img {
        width: 173px;
        height: 173px;
    }

    &__info {
        width: 276px;
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    &__title {
        color: $main-color;
        font-size: 24px;
        font-weight: 500;
        line-height: 121%;
        text-align: left;
    }

    &__desc {
        color: rgb(136, 136, 136);
        font-size: 14px;
        font-weight: 400;
        line-height: 121%;
        text-align: left;
    }

    &__price {
        color: rgb(5, 5, 5);
        font-size: 16px;
        font-weight: 500;
        line-height: 125%;
        text-align: left;
    }

    &__link-box {
        display: flex;
        column-gap: 30px;
    }

    &__link {
        color: $main-color;
        font-size: 14px;
        font-weight: 400;
        line-height: 210%;
        text-align: center;
        text-decoration-line: underline;
    }

    &__link:hover {
        text-decoration-line: none;
    }

    &__input {
        border-radius: 6px;
        background: rgb(247, 246, 246);
        max-width: 71px;
        height: 51px;
        color: $main-color;
        font-family: Poppins;
        font-size: 14px;
        font-weight: 600;
        line-height: 210%;
        text-align: center;
        border: none;
    }

    .button-box {
        display: flex;
        gap: 7px;
        margin-top: 18px;

        &__btn {
            border: 1px solid $main-color;
            border-radius: 50px;
            color: rgb(2, 2, 2);
            font: inherit;
            font-size: 14px;
            font-weight: 400;
            line-height: 121%;
            text-align: center;
            width: 200px;
            height: 37px;
            background-color: transparent;
            transition: all 0.7s;
        }
        &__btn:hover {
            border: 1px solid $color-text;
            background: $main-color;
            color: $color-text;
        }
    }

    .form {
        border-radius: 20px;
        background: rgb(247, 246, 246);
        height: 556px;
        grid-column: span 4;

        &__title {
            margin-top: 42px;
            color: $main-color;
            font-size: 24px;
            font-weight: 700;
            line-height: 121%;
            text-align: center;
        }

        &__input-box {
            margin: 35px 64px 64px 37px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 143px;
        }

        &__input {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid rgb(202, 205, 216);
            font: inherit;
            font-size: 14px;
            font-weight: 400;
            line-height: 121%;
            text-align: left;
            outline: none;
        }

        &__input::placeholder {
            color: $main-color;
            font: inherit;
            font-size: 14px;
            font-weight: 400;
            line-height: 121%;
            text-align: left;
        }

        &__input:focus::placeholder {
            color: transparent;
        }

        &__result {
            color: $main-color;
            font-size: 24px;
            font-weight: 400;
            line-height: 121%;
            text-align: center; 
        }
        &__sum {
            font-weight: 500;
        }

        &__btn {
            display: block;
            margin: 18px auto;
            color: $main-color;
            font: inherit;
            font-size: 16px;
            font-weight: 400;
            line-height: 125%;
            text-align: center;
            border: 1px solid rgb(4, 4, 4);
            border-radius: 20px;
            width: 290px;
            height: 41px;
            background-color: transparent;
            transition: all 0.7s;
        }

        &__btn:hover {
            border: 1px solid $color-text;
            background: $main-color;
            color: $color-text;
        }

    }
}
