.catalog-header {
    height: 400px;
    background: url(images/catalog_header_bg.png), rgb(196, 196, 196);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.catalog-info {
    margin-top: 127px;
}

.catalog-ng {
    margin-top: 64px;
    margin-bottom: 36px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 14px;
}

.ws-position {
    display: flex;
    column-gap: 10px;

    &__link,
    &__divider {
        color: $main-color;
        font-size: 16px;
        font-weight: 400;
        line-height: 200%;
        text-align: left;
    }

    &__link:hover {
        text-decoration: underline;
    }
}

.filter-box {
    display: flex;
    gap: 10px;
    flex-wrap: wrap-reverse;

    &__dropdown {
        border: 1px solid rgb(196, 196, 196);
        border-radius: 20px;
        height: 40px;
        appearance: none;
        padding-top: 9px;
        padding-bottom: 10px;
        padding-left: 23px;
        padding-right: 56px;
        min-width: 182px;
        // max-width: max-content;
        font: inherit;
        background-color: transparent;
        color: $main-color;
        background-image: url(images/arrow.svg);
        background-repeat: no-repeat;
        background-position: 90% 50%;
        outline: none;
    }

    &__option {
        color: $main-color;
        font-size: 16px;
        font-weight: 400;
        line-height: 125%;
        text-align: left;
        font: inherit;

    }

    &__btn {
        @extend .filter-box__dropdown;
        @extend .filter-box__option;
        background-color: transparent;
        font-weight: 500;
    }
    @import 'filter';
}

.products {
    margin-bottom: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 32px;
    row-gap: 48px;
}

.show-more {
    margin-bottom: 64px;

    &__link {
        color: $main-color;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        text-align: left;
        text-decoration-line: underline;
    }
}